body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  overflow-x: hidden;
  margin: auto;
}

.arriba {
  display: flex;
}

.header {
  width: 100%;
  background-image: url("header.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0 0;
  position: relative;
}

.logo {
  padding: 5px;
  width: 5%;
}

.logo-img {
  position: relative;
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.nav {
  position: relative;
  top: -10%;
  margin: 10px;
  width: 70%;
  padding: 15px;
  background-color: rgba(210, 221, 221, 0.3);
  border-radius: 30px;
  margin-inline-start: 12%;
}

a:hover {
  color: #f79947;
}

.nav-link {
  margin: 30px 25px;
  text-decoration: none;
  color: rgb(21, 3, 3);
  text-shadow: 0px 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-link i {
  margin-inline-start: 3%;
  margin-right: 3px;
  color: #0077b6;
}

.social-row {
  position: relative;
  display: flex;
  gap: 12px;
  justify-content: right;
  top: -21%;
  margin: 30px;
}

.redes {
  height: 20px;
}

.banner {
  position: relative;
  background-color: rgba(141, 146, 146, 0.3);
  margin-top: 25%;
  margin-left: 100px;
  margin-right: 100px;
  padding: 13px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #f79947;
  text-align: center;
  text-shadow: 1px 1px rgb(87, 84, 84);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.centro {
  display: flex;
  margin: 10px 0;
}

.left-column {
  background-color: rgb(209, 207, 207);
  padding: 10px;
  margin-right: 10px;
  width: 80%;
}

.right-column {
  text-align: center;
  background-color: rgb(194, 193, 193);
  padding: 10px;
  width: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.article {
  flex-direction: column;
  background-color: white;
  width: 85%;
  height: auto;
  margin: 10px 10px;
  padding: 20px 20px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #f3f1ef;
  background-color: rgb(245, 164, 164);
  text-align: center;
}

.contenido {
  width: auto;
}
.navegacion {
  color: rgb(17, 16, 16);
  font-weight: bold;
  padding: 20px;
  margin: 10px 10;
}

h3 {
  font-size: 18px;
  padding: 20px;
  margin: 5px 0;
}

.arriba,
.centro,
.abajo {
  background-color: rgb(235, 230, 230);
  padding: 20px;
  margin: 10px;
}

.pie {
  background-color: #edece6;
  padding: 30px;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .header {
    background-image: url("header.jpg");
    background-size: 1024px;
    justify-content: left;
  }
  .logo,
  .nav,
  .social {
    background-color: rgb(253, 253, 253, 0.3);
  }
  .social-row {
    position: relative;
    display: flex;
    gap: 12px;
    justify-content: right;
    top: -17%;
    margin: 30px;
  }

  .nav-link {
    margin: 0 25px;
    text-decoration: none;
    color: rgb(35, 9, 9);
  }

  .nav {
    top: 5%;
    width: 90%;
    padding: 0%;
    background-color: rgba(248, 255, 255, 0.574);
    border-radius: 30px;
    margin-inline-start: 5%;
  }

  .banner {
    margin-top: 25vh;

    background-color: rgba(120, 120, 120, 0);
  }

  .arriba,
  .centro,
  .abajo {
    margin-right: 10px;
  }

  .centro {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: auto;
    margin: 5px 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .header {
    background-size: 350%;
    background-image: url("header.jpg");
  }
  .social-row {
    top: -50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: right;
    margin: 2px;
    left: 80%;
  }

  .nav {
    width: 0.1%;
    padding: 0%;
    position: relative;
    left: 25dvw;
    background-color: rgba(253, 253, 253, 0);
  }
  .banner {
    top: 0%;
    margin: 1%;
    background-color: rgba(203, 199, 199, 0.2);
    padding: 0%;
  }
  .centro {
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    max-width: -50%;
  }
  .left-column,
  .right-column {
    width: auto;
    margin: 5px 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .publicidad {
    text-align: center;
  }
}
